<section class="hero padding-section">
  <div class="container">
    <div class="hero__wrapper">
      <div class="hero__info">
        <h1 class="hero__title">Title hero</h1>
        <h2 class="hero__subtitle">Subtitle hero</h2>
        <p class="hero__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque harum
          voluptas aspernatur eveniet consectetur dolor quia facere nisi ut
          tempore aliquam assumenda, ab blanditiis delectus. A nobis eum
          deleniti libero.
        </p>
      </div>
      <img src="/src/assets/img/grid3.jpg" alt="ad" class="hero__img" />
    </div>
  </div>
</section>
