// colors

// ==============================================
// Colors
// ==============================================
// button colors
$btn-color-primary: #3a86ff;
$btn-color-secondary: #da1e28;
$btn-border-radius-L: 30px;
$btn-border-radius-M: 15px;
$btn-border-radius-S: 10px;

// Brand colors\

$color-primary: #3a86ff;
$color-secondary: #da1e28;
$color-white: #fff;
$color-black: #000;

// ==============================================
// Typography
// ==============================================

$font-family-base: "Inter";
$font-family-heading: "Georgia", serif;
$font-family-mono: "SFMono-Regular";

$font-size-base: 16px;

$font-size-xs: 0.75rem; // 12px
$font-size-sm: 0.875rem; // 14px
$font-size-base: 1rem; // 16px
$font-size-md: 1.125rem; // 18px
$font-size-lg: 1.25rem; // 20px
$font-size-xl: 1.5rem; // 24px
$font-size-xxl: 2rem; // 32px
$font-size-xxxl: 2.5rem; // 40px

// ==============================================
// Borders
// ==============================================

$border-radius-15: 15px; // 16px
$border-radius-30: 30px;
$border-radius-circle: 50%;

// ==============================================
// Breakpoints
// ==============================================

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

// ==============================================
// Container
// ==============================================

$container-max-width: 1200px;
